{% extends "base_temp/base.html" %}
{% block title %}{{ group.title }}{% endblock %}
{% block header %}<h3>Записи сообщества: {{ group.title }}</h3>{% endblock %}
{% block content %}
    <p>{{ group.description|linebreaksbr }}</p>
        <div class="container">
        {% for post in page %}
             {% include "posts/post_item.html" with post=post group=True %}
        {% endfor %}
        </div>
   {% if page.has_other_pages %}
      {% include "base_temp/paginator.html" with items=page paginator=paginator%}
   {% endif %}
{% endblock %}