{% if user.is_authenticated %} 
<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if index %}active{% endif %}" 
                href="{% url 'index' %}">
                Главная
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}" 
                href="{% url 'follow_index' %}">
                Избранные авторы
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}" 
                href="{% url 'groups_view' %}">
                Все группы
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}"
                href="{% url 'new_post' %}">
                    Новая запись
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}" 
                href="{% url 'new_group' %}">
                Создать группу
            </a>
        </li>
    </ul>
</div>
{% endif %} 