<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'index' %}"><span style="color:red">Ya</span>tube</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
            
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Настройки пользователя
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="p-2 text-dark" href="{% url 'profile' user.username %}">{{ user.get_full_name }}</a><br>
            <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a><br>
            <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a><br>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a><br>
            <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a><br>
        </div>
    </div>
        {% endif %}
    
    </nav>
</nav>
